<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Municipalities</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
</head>
<body>
<div class = "container">
    <p><a href="/logout" >выйти</a></p>
    <div class="table-responsive">
        <div style="text-align: center;"><h2>Пользователи</h2></div>
        <table id="requests" class="display">
            <!-- Header Table -->
            <thead>
            <tr>
                <th>id</th>
                <th>Дата создания</th>
                <th>Автор запроса</th>
                <th>Статус</th>
                <th>id места</th>
                <th>id конструкции</th>
                <th>Редактор</th>
                <th>Дата обработки</th>
                <th>Номер версии</th>
                <th>Причина отклонения</th>
                <th>Актуальность</th>
                <th>id фото</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <!-- Footer Table -->
            <tfoot>
            <tr>
                <th>id</th>
                <th>Дата создания</th>
                <th>Автор запроса</th>
                <th>Статус</th>
                <th>id места</th>
                <th>id конструкции</th>
                <th>Редактор</th>
                <th>Дата обработки</th>
                <th>Номер версии</th>
                <th>Причина отклонения</th>
                <th>Актуальность</th>
                <th>id фото</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="../static/js/scripts.js"></script>
</body>
</html>